*{
  box-sizing:border-box
}

body {
 margin: 0;
 padding: 0;
}

.back {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 4rem;
    right: 5rem;

}

.back:hover {
    cursor: pointer;

}
h1 {
    margin: 0;
    text-align: center;
}
.gallery-cont {
    background-color: lightcyan;
    min-height: 100vh;
    width: 100vw;
}